.content {
    max-width: 768px;
    margin: 0 auto;
}
.bio-text {
    font-size: 1em;
    letter-spacing: -0.6px;
    margin: 83px 29px 5px 17px;
    word-spacing: 1px;
    text-align: left;
    clear: both;
    line-height: 1.8em;
    display: inline-table
}
.lazy {
    vertical-align: middle;
    max-width: 100%;
}
#topo {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
@media only screen and (max-width: 768px) {
    .apresenta h3{
        left: 30%;
        top: -220px;
    }
}

@media only screen and (max-width: 590px) {
    .caxa h2 {
        position: relative;
        top: -105px;
        left: 143px;
        font-weight: bolder;
        letter-spacing: -3px;
        font-size: 2.423rem;
    }
}

@media only screen and (max-width: 380px) {
    body {background: rgb(0 0 0)}
}