#root {
    max-width: 1280px;
    margin: 0 auto;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 12s linear;
    }
}

body{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    background: rgba(33,33,33,0.94);
    background: -moz-linear-gradient(top,  #002e3e 0%, #fbe4bf 100%);
    background: -webkit-linear-gradient(top,  #002e3e 0%,#fbe4bf 100%);
    background: linear-gradient(to bottom,  #002e3e 0%,#fbe4bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e3e', endColorstr='#fbe4bf',GradientType=0 );
}
img {
    max-width: 100%;
}

.content {
    max-width: 768px;
    margin: 0 auto;
}

h1 {
    text-indent: -90000px;
    display: block;
    width: 375px;
    height: 295px;
    margin: 0 auto;
    background: url('../dist/tauk-design.png') no-repeat scroll 0 0 transparent;
    will-change: filter;
    transition: filter 900ms;
    filter: drop-shadow(0 0 2em rgba(181, 234, 248, 0.67));
}

.apresenta h1:hover {
    opacity: 0.85;
    filter: drop-shadow(0 0 2em rgba(2, 2, 39, 0.67));
}

.apresenta hr {
    background: url('../dist/image/linha.png') repeat scroll 0 0 transparent;
    border: medium none;
    clear: left;
    display: block;
    height: 8px;
    margin: 0 0 20px 18px;
    width: 95%;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    z-index: -3;
}

.apresenta {
    max-width: 736px;
    height: 657px;
    margin: 0 auto;
    display: block;
    background: url('../dist/image/bg-apresenta.png') no-repeat scroll 0 0 transparent;
}

.apresenta h3 {
    color: #002e3e;
    position: relative;
    top: -85px;
    font-size: 1rem !important;
}

.caxa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caxa h2 {
    position: relative;
    top: -185px;
    left: 60px;
    font-weight: bolder;
    letter-spacing: -1px;
    font-size: 1.473rem;
}

.bio-text {
    font-size: 1em;
    letter-spacing: -0.3px;
    margin: 83px 29px 5px 17px;
    max-width: 69%;
    word-spacing: 1px;
    text-align: left;
    clear: both;
    line-height: 1.8em;
    display: inline-table
}

.contactInfo hr {
    background: url("../dist/image/linha.png") no-repeat left transparent;
    border: none;
    height: 13px;
    display: block;
    margin-top: 35px;
    float: left;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.contactInfo span {
    display: table;
    float: left;
    padding-top: 8px;
    height: 30px;
    margin-right: 30px;
}

.contactInfo {
    margin: 40px;
    color: #919191;
    font-size: 0.85em;
    display: inline-flex;
    position: relative;
    top: 130px;
}

.contactInfo a {
    color: #717171;
}

.contactInfo a:hover span {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 0.7;
}

.text-left {
    display: block;
}

#works {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    color: #fefefe;
}

#works div {
    display: block;
    max-width: 289px;
    float: left;
    margin: 20px;
}

div#works h4 {
    display: block;
    position: relative;
    top: -10px;
    height: 40px;
    z-index: -1;
    margin: 6px;
    font-size: 16px;
    font-weight: lighter;
    text-shadow: 1px 1px 1px rgb(56, 56, 56);
}

div#works img:hover {
    z-index: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-filter: sepia(0) hue-rotate(0deg) saturate(100%);
    filter: sepia(0) hue-rotate(0deg) saturate(100%);
    opacity: 1;
}

#works img {
    z-index: 2;
    border: solid 4px #cfe2de;
    opacity: 0.85;
    -moz-opacity: 85%;
    -webkit-opacity: 85%;
    -webkit-filter: sepia(20%) hue-rotate(0deg) saturate(30%);
    filter: sepia(20%) hue-rotate(0deg) saturate(30%);
    margin: 4px;
}

#works hr {
    background: transparent url("../image/linha.png") no-repeat scroll left center;
    border: medium none;
    display: block;
    height: 13px;
    margin: 100px 0 15px 20px;
    position: absolute;
    width: 87%;
    z-index: -1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
}

#QuickView {
    /*display: none;*/
    /*position: relative;*/
    /*clear: both;*/
    /*bottom: 0;*/
    /*z-index: 0;*/
    /*color: #fefefe;*/
    /*padding-top: 110px;*/
    /*overflow-x: visible;*/
    /*overflow-y: hidden;*/
    /*height: 100%;*/
}

#QuickView a {
    font-size: 13px;
    color: #131393;
    display: contents;
}

.fechar img {
    display: block;
    margin: 18px auto;
    width: 50px;
    height: 50px;
    opacity: 20%;
}

.lazy {
    vertical-align: middle;
    max-width: 100%;
}

.panel-wrapper ul li {
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: -0.3px;
    word-spacing: 1px;
}

#topo {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.topo-site {
    display: inline-block;
    height: 50px;
    left: 47.5%;
    position: relative;
    width: 50px;
}

@media only screen
and (max-width: 768px) {
    #works img {
        border: solid 4px #cfe2de;
        opacity: 1;
        margin-bottom: 40px;
        -webkit-filter: sepia(0) hue-rotate(0deg) saturate(100%);
        filter: sepia(0) hue-rotate(0deg) saturate(100%);
    }
}

@media only screen
and (max-width: 590px) {
    .caxa h2 {
        position: relative;
        top: -105px;
        left: 243px;
        font-weight: bolder;
        letter-spacing: -3px;
        font-size: 2.423rem;
    }

    #works img {
        border: solid 4px #cfe2de;
        background-color: rgba(0, 0, 0, 0.57);
        opacity: 1;
        margin-bottom: 20px;
    }

    #works div {
        margin-bottom: 20px;
    }

    .panel-wrapper span {
        font-size: 1em;
        font-weight: bold
    }

    #contactInfo span {
        clear: both
    }

}

@media only screen
and (max-width: 380px) {
    body {
        background: rgb(0 0 0);
    }

    #works {
        background-color: #000000;
    }
}