$enable-gradients: true;
$enable-shadows: true;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
$border-radius: .4rem;
$primary: #1b063b;
$font-family-base: 'Courier New', Courier, monospace !default;

@import "bootstrap/scss/bootstrap";

html {min-height: 100%}

[data-bs-theme=dark] .apresenta {
    color: var(--bs-light);
    background-color: var(--bs-dark);
}
[data-bs-theme=dark] body {
    background: rgba(33, 32, 34, 0.522);
    color: var(--bs-light);
}

body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background: -moz-linear-gradient(top, #002e3e 0%, #fbe4bf 100%);
    background: -webkit-linear-gradient(top, #002e3e 0%, #fbe4bf 100%);
    background: linear-gradient(to bottom, #002e3e 0%, #fbe4bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002e3e', endColorstr='#fbe4bf', GradientType=0);
}

img  { 
    image-rendering: optimizeQuality;  
    -ms-interpolation-mode: bicubic;  
    max-width: 100%; 
}  

.navbar{z-index: 1}

.scroller {
    height: 8px;
    position: fixed;
    top: 0%;
    z-index: 100;
    background-color:#4e758d;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    animation: scroller linear;
    animation-timeline: scroll();
}

@keyframes scroller {
    to {
        transform: scale(1, 1);
        background-color: #cfe2de;
    }
}

@keyframes logo-BOom {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.234) translateY(0);
        opacity: .1234;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}
    
.box {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    opacity: 1;
    animation-range: entry 100% exit 100%;
    animation: reveal ease-in-out;
    animation-timeline: view();
    h2 {
        font-size: 4.3rem;
        color: #e0ffff;
        text-shadow:0 0 1ex rgb(59, 168, 198), 0 0 2px rgba(255, 255, 255, 0.8);
    }
    p {
    text-align: center;
    display: block;
    width: 50%;
    margin: 20px;
    font-size: 1.473em;
    color: #e0ffff;
    font-weight: bold;
  }
}

@media (prefers-reduced-motion: no-preference) {
    .apresenta h1 {
        z-index: 0;
        &:hover {
            animation: logo-BOom infinite 3s;
        }
    }
}

@keyframes reveal {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(100%) translateY(1%);
        opacity: 0.9;

    }
    100% {
        transform: scale(1) translateY(110%);
        opacity: 0;
    }
}

.box-3{
    height: 85vh;
    opacity: .5;
    animation-range-start: contain;
    animation-range-end: cover;
    animation-range: entry 100% exit 100%;
    animation: animatreis;
    animation-timeline: view();
}

@keyframes animatreis {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    60% {
        transform: scale(1) translateY(0);
        opacity: 0.8;

    }
    65% {
        transform: scale(1) translateY(0);
        opacity: .6;
    }
    100%{
        transform: scale(1) translateY(100%);
        opacity: 0;
    }
}

.apresenta {
    width: 100%;
    max-width: 1024px;
    height: 75%;
    margin: 0px auto 40px auto;
    padding-bottom: 40px;
    display: block;
    background: #fefefede;
    h1 {
        text-indent: -90000px;
        display: block;
        max-width: 375px;
        height: 333px;
        margin: 0 auto;
        background: url('../tauk-design.png') no-repeat scroll 0 0 transparent;
        border-radius: $border-radius;
        will-change: filter;
        transition: filter 900ms;
        filter: drop-shadow(0 0 2em rgba(181, 234, 248, 0.67)); 
        &:hover {
            opacity: 0.85;
            filter: drop-shadow(0 0 2em rgba(2, 2, 39, 0.67));
        }
    }
    hr{
        background: url('../image/linha.png') repeat scroll 0 0 transparent;
        border: none;
        height: 8px;
    }
}

#works{
    h4{
        max-width: 250px;
        position: relative;
        top: 60px;
        height: 1px;
        z-index: -1;
        margin: 30px;
        font-size: .89rem;
        font-weight: bold;
        color: $light;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    img{
        z-index:2;
        border-width: 4px;
        border-color:  #cfe2de;
        border-style: solid;
        opacity: 0.15;
        filter: sepia(50%) hue-rotate(20deg) saturate(10%);
        margin-bottom: 50px;
        border-radius: $border-radius;
        &:hover{
            z-index:0;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            filter: sepia(0) hue-rotate(0deg) saturate(100%);
            opacity: 1;
        }
    }
}
      
#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 40px auto;
    opacity: 0;
    z-index:1;
    animation: elemvisu ease-in-out;
    animation-timeline: scroll();
}

@keyframes elemvisu {
    0% {
        transform: scale(0.7) translateY(0);
        opacity: 0;
    }
    15%{
        opacity: 1;
        transform: scale(1)
    }
    100% {
        transform: scale(.9) translateY(100%);
        opacity: 1;
    }
}

.swiper{
    h5, p{
        color: $white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    }
}
.swiper-slide {
    background-position: center;
    background-size: contain;
}
  
.swiper-slide img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    @include color-mode(dark) {
        .swiper-slide img{background: $dark}
    }
}

@include color-mode(light) {
    .swiper-slide img{background: $light}
}
.swiper-slide-thumb-active{
    img{
        filter: sepia(0) hue-rotate(0deg) saturate(100%) !important;
        opacity: 1 !important;
    }
}

.swiper-button-next, .swiper-button-prev{
    top:55px !important;
    &::after{
        font-size: 23px !important;
    }
    cursor: none;
}

.swiper-button-prev{
    left: auto !important;
    right: 120px !important;
}

.contact-infos {
    a {
        display: block;
        transition: all ease-in-out .2s;
        opacity: .7;
        &:hover {
            transform: scale(1.473);
            transition: all ease-in-out .2s;
            opacity: 1;
        }
    }
}

@include media-breakpoint-down(md) {
    .apresenta {width: 100%;}
    .box {
        width: 100%;
        height: 90vh;
        text-align: left;
    }
    #works {
        img{
        border:solid 4px #a6c5eb;
        margin-bottom: 40px;
        filter: sepia(0) hue-rotate(0deg) saturate(100%);
        opacity: .55;
        }
        h4{display: none}
        a{text-decoration: none}
    }
    .swiper-slide-thumb-active{
        img{border:solid 5px #0f0f10 !important}
    }
    .swiper-button-next, .swiper-button-prev{display: none !important}
}