$enable-gradients: true;
$enable-shadows: true;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .473);
$border-radius: .473rem;
$primary: #002e3e;
$tertiary: #3d3d3d;
$blue: #0D24E7;
$secondary: #678CA8;
$font-family-base: "Space Mono" !default;
$body-bg: #c1e4ef;
$light:#FEFEFE;
$lighter:#e1f4fd;
$warning: #dbe20a;
$info: #FF8307;
$sand: #fae3be;
$purple: #2e144a;
$dark: #0a041c;

@import "bootstrap/scss/bootstrap";

:root {
    --swiper-navigation-size: 23px !important;
    --swiper-theme-color: #FF8307 !important;
}

body {
    font-family: "Space Mono", monospace;
    background: $body-bg;
    height: 100%;
    background: -moz-linear-gradient(top, $light 0%, $lighter 100%);
    background: -webkit-linear-gradient(top, $light 0%, $lighter 100%);
    background: linear-gradient(to bottom, $light 0%, $lighter 100%);
    cursor: crosshair;
}

html {min-height: 100%}

[data-bs-theme=dark]{ 
     body {
        background: $dark;
        color: $light;
    }
    .apresenta, .bio {
        color: $white;
    }
    .myexpertise p{
        color: $tertiary !important;
        text-shadow: none !important;
    }
    .swiper{
        h5, p{
            color: $lighter;
            text-shadow: 1px 1px 0 $purple;
        }
    }
    .modal-overlay {
        background: $lighter;
    }
    .modal-content {
        background: $dark;
        color: $light;
    }
    .contact-infos{
        a{color: $light !important;}
    }
    .bi-person-lines-fill{fill: $light !important;}
    .modal-close{fill: $light !important;}
    .box{
        background: url("/image/fundo.svg") $dark !important;
        h2,p{
        color: $lighter;
        text-shadow: 1px 1px 2px $purple;
    }
    }
    .octicon-mark-github{fill: $light}
}

[data-bs-theme=light] {
    .myexpertise p{color: var(--bs-dark)}
    .modal-content {
        background: $light ;
        color: $dark !important;
    }
    .modal-overlay {
        background: $dark;
    }
    .contact-infos{
        a{color: $dark !important;}
    }
    .modal-close{fill: $dark !important;}
    
    .bi-person-lines-fill{fill: $lighter;}

    #works{
        h3{
            color: $primary;
            text-shadow: 1px 1px 1px $warning;
        }
    }
}

@include color-mode(light) {
    .logotauk{fill:$light !important;}
    .apresenta{background: linear-gradient(to bottom, $body-bg 0%, $sand 100%);}
}
@include color-mode(dark) {
    .logotauk{fill:$body-bg;}

    .apresenta, .portfa{
        background: linear-gradient(to bottom, $primary 0%, $purple 100%);
    }   
}

#navbarNav .nav-link,#topo {cursor: pointer}

.open-modal {cursor: pointer}

img  { 
    image-rendering: optimizeQuality;  
    -ms-interpolation-mode: bicubic;  
    max-width: 100%; 
}  

.nav-link {
    line-height: 1.473rem;
    &.active {
        font-weight: bold;
        color: $yellow !important;
        border-bottom: 2px solid $yellow;
    }
}

.scroller {
    background-color: $warning;
    height: 3px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    animation: scroller linear;
    animation-timeline: scroll();
}

@keyframes reveal {
    0% {
        transform: scale(.1) translateY(0);
        background: $purple;
        opacity: 1;
    }
    10% {
        transform: scale(1) translateY(20%);
        opacity: 1;
        background: $dark;
    }
    25% {
        transform: scale(1) translateY(-5%);
        opacity: 1;
        background: url("/image/fundo.svg");
        background-repeat: no-repeat;
    }
    50% {
        transform: scale(1) translateY(0);
        opacity: 1;
        background: url("/image/fundo.svg");
        background-repeat: no-repeat;

    }
    65%{
        transform: scale(1) translateY(25%);
        opacity: 1;
        background: url("/image/fundo.svg");
        background-repeat: no-repeat;
    }
    80%{
        transform: scale(1) translateY(30%);
        opacity: 0.3;
        background: $lighter;
    }
    100% {
        transform: scale(.7) translateY(60%);
        opacity: 0.1;
        background: $sand;
    }
}
   
.box {
    background: url("/image/fundo.svg");
    background-size: contain;
    background-position: center;    
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-range: entry 100% exit 100%;
    animation: reveal;
    animation-timeline: view();
    position: relative;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    h2 {
        font-size: 5.5em;
        color: $tertiary;
        text-shadow:2px 2px 2px $warning;
    }
    p {
    text-align: left;
    display: block;
    margin: 20px;
    font-size: 2em;
    color: $dark;
    font-weight: bold;
    width: 50%;
    }
    &.is-visible {
    opacity: 1;
    transform: scale(1) translateY(0);
    }

    &.is-leaving {
    opacity: 0.2;
    transform: scale(0.8) translateY(20%);
    }
}


.apresenta svg {
    &:hover {
        animation: logo-BOom infinite 3s;
    }
}



.apresenta {
    background: linear-gradient(to bottom, $body-bg 0%, $sand 100%);
    border-radius: $border-radius;
    aspect-ratio: 16/9;
    clip-path: polygon(0 74%, 0 0, 100% 0, 100% 74%, 50% 100%);
    margin: 0 auto;
    animation: animaquatro forwards;
    animation-range: entry 100% exit 0;
    animation-timeline: view();
    opacity: 0;
    transform: scale(1) translateY(15%);
    transition: transform .6s ease-in-out, opacity .6s ease-in;
    will-change: filter;
    transition: filter 900ms;
        svg{
            animation: animalogo forwards;
            animation-range:entry 0 exit 100%;
            animation-timeline: scroll();
            display: block;
            margin: 50px auto;
            width: 70%;
            height:calc(2.325rem + 30vw);
            will-change: filter;
            transition: filter 900ms;
            filter: drop-shadow(0 0 2em $purple); 
            &:hover {
                opacity: .8;
                filter: drop-shadow(0 0 2em $dark);
            }
        }
    h1{
        text-indent: -90000px;
        display: block;
    }
    &.is-visible {
    opacity: 1;
    transform: scale(1) translateY(0);
    }

    &.is-leaving {
    opacity: 0.5;
    transform: scale(1.8) translateY(20%);
    }
}
@keyframes animaquatro {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    34% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    85% {
        transform: scale(.9) translateY(0);
        opacity: .7;
    }
    100% {
        transform: scale(.5) translateY(0);
        opacity: .3;
        background-color:linear-gradient(to bottom, $sand 50%, $body-bg 70%);
    }
}

@keyframes animalogo {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
        fill: $primary;
    }
    50% {
        transform:scale(1) translateY(100%);
        opacity: .7;
    }
    100% {
        transform: scale(.85) translateY(0);
        opacity: 1;
        fill: $secondary;
    }
}

@keyframes scroller {
    to {
        transform: scale(1, 1);
        background-color: $warning;
    }
}

@keyframes logo-BOom {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.234) translateY(0);
        opacity: .1234;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.bi-person-lines-fill{
    fill: $purple;
}
.portfa {
    border-radius: $border-radius;
    aspect-ratio: 16/9;
    clip-path: polygon(0 74%, 0 0, 100% 0, 100% 74%, 50% 100%);
    margin: 0 auto;
    background: linear-gradient(to bottom, $body-bg 0%, $sand 100%);
    animation: animaportfa;
    animation-range: entry 100% exit 100%;
    animation-timeline: view();
    z-index: 0;
    height: 190px;
    h1{
        text-indent: -90000px;
    }
    svg{
        display: block;
        margin: 0 auto;
        width: 120px;
        height:140px;
        animation: logoport forwards;
        animation-range: entry 100% exit 100%;
        animation-timeline: view();
    }
}

@keyframes animaportfa {
    0% {
        transform: scale(1.7) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1) translateY(0);
        opacity: .8;

    }
    90% {
        transform: scale(1) translateY(0);
        opacity: .7;
    }
    100% {
        transform: scale(.5) translateY(20px);
        opacity: 0.25;
    }
}

@keyframes logoport {
    0% {
        transform: scale(1.2) translateY(0);
        opacity: 1;
    }
    50% {
        transform:scale(1.123) translateY(100%);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 0.5;
    }
}

.bio{
    background-color: $dark; 
    color: $lighter;
    border-radius: $border-radius;
    z-index: 2;
    padding: 2rem;
    margin: 12% auto;
    h2,h3,h4,h5{
        font-size: 1.3rem;
    }
    hr{
        background: url('/image/linha.png') no-repeat scroll 0 0 transparent;
        border: none;
        height: 8px;
        margin:10px auto 10px;
    }
}

#works{
    .swiper-slide{
        width: 100%;
        margin-bottom: 0 !important;
    }
    h3{
        max-width: 250px;
        height: 100px;
        position: absolute;
        top: 30px;
        height: 1px;
        z-index: -1;
        margin: 30px;
        font-size: 1rem;
        font-weight: bold;
        color: $warning;
        text-shadow: 1px 1px 1px $dark;
    }
    img{
        z-index:2;
        border-width: 4px;
        border-color:  $lighter;
        border-style: solid;
        opacity: 0.15;
        filter: sepia(50%) hue-rotate(20deg) saturate(10%);
        border-radius: $border-radius;
        &:hover{
            z-index:0;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            filter: sepia(0) hue-rotate(0deg) saturate(100%);
            opacity: 1;
        }
    }
}
      
#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 40px auto;
    opacity: 1;
    display: none;
    z-index:1;
    animation: elemvisu ease-in-out;
    animation-timeline: scroll();
}

@keyframes elemvisu {
    0% {
        transform: scale(0.7) translateY(0);
        opacity: 0;
        display: none;
    }
    15%{
        opacity: 1;
        transform: scale(1);
        display: block;
    }
    100% {
        transform: scale(.9) translateY(100%);
        opacity: 1;
        display: block;
    }
}

.swiper{
        width: 100%;
    h5, p{
        color: $primary;
        text-shadow: 1px 1px 0 $sand;
    }
    .swiper-wrapper{
       flex-direction: row !important;
    }
}
  
.swiper-slide {
    width: 100%;
    img {
        max-width: 100%;
        margin: 0 auto;
        @include color-mode(dark) {
            .swiper-slide img{background: $dark}
        }
    }
}

.swiper-slide-thumb-active{
    img{
        filter: sepia(0) hue-rotate(0deg) saturate(100%) !important;
        opacity: 1 !important;
    }
}

.swiper-button-next, .swiper-button-prev{
    top:75px !important;
    margin-top: auto !important;
    &::after{
        font-size: 23px !important;
    }
    cursor: none;
}

.swiper-button-prev{
    left: auto !important;
    right: 120px !important;
}

.contact-infos {
    a {
        display: block;
        transition: all ease-in-out .2s;
        opacity: .7;
        &:hover {
            transform: scale(1.473);
            transition: all ease-in-out .2s;
            opacity: 1;
        }
    }
}

.myexpertise{
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            text-align: center;
            text-shadow: 1px 1px 0 rgba(226, 226, 226, 0.5);
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1090;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

@include media-breakpoint-down(md) {
    .apresenta {
        width: 100%;
        display: block;
        svg{
            width: 50%;
        }
    }
    .box {
        width: 100%;
        height: 100vh;
        text-align: left;
        h2{
            font-variant-ligatures: contextual;
            font-size: 15.4vw;
            word-spacing: -32px;
        }
        p{
            width: 70%;
            font-size: 5lvw;
            word-spacing: -2px;
            text-align: left;
        }
    }
    .portfa{
        width:95%;
    }
    #works {
        img{
        border:solid 4px $lighter;
        margin-bottom: 40px;
        filter: sepia(0) hue-rotate(0deg) saturate(100%);
        opacity: .55;
        }
        h3{display: none}
        a{text-decoration: none}
    }
    .swiper-slide-thumb-active{
        img{border:solid 5px $primary !important}
    }
    .swiper-button-next, .swiper-button-prev{display: none !important}

    .contatk{
        width:98% !important;
    }
}

.contatk{
    width: 50%;
}
